# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
py/*
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
